.top-content {
  position: relative;
  background-image: url("../../images/banner-image.jpg");

  background-size: cover;
  color: #000;
}

p {
  color: white;
}

h1 {
  color: white;
}

.mid-content {
  position: relative;
  background-image: url("../../images/image-banner.png");

  background-size: cover;
  color: #000;
}

p {
  color: white;
}

h1 {
  color: white;
}
