:root {
  --color-primary: #601660;
  --color-primary-light: #7f677f;
  --color-secondary: #E8E8E8;
  --color-type: #383838;
  --color-accent: #514451;
  --color-accent-light: #9e8b9e;

  --font-primary:"Fjalla One", sans-serif;
  --font-secondary:"Roboto Slab", serif;
}

html {
  font-family: var(--font-primary);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--color-primary);
  font-family: var(--font-primary);
}

blockquote,
ul,
ol,
dl,
cite,
q {
  color: var(--color-neutral);
  font-family: var(--font-secondary);
}

mark {
  background-color: var(--color-primary);
  color: #fff;
}
