:root {
  --color-primary: #601660;
  --color-secondary: #E8E8E8;
  --color-type: #E8E8E8;
  --color-accent: #514451;

  --font-primary:"Fjalla One", sans-serif;
  --font-secondary:"Roboto Slab", serif;
}

html {
  font-family: var(--font-primary);
}
