header {
  background-color: var(--color-accent);
}

header nav {
  padding-top: 3em;
  text-align: center;
}

header nav li {
  display: inline;
  padding: 1.5em;
}

header nav li a {
  text-decoration: none;
  color: var(--color-secondary);
}

.logo {
  margin: 0 auto;
  text-align: left;
}

.logo img {
  max-width: 100px;
  min-width: 50px;
}

@media only screen and (min-width: 38em) {

  header nav {
    text-align: center;
  }

}
